@model Spark.ViewModels.CartProductViewModel
@inject Spark.Logic.CartActions cartActions

@{
    ViewBag.Title = "Cart";
}
<div class="row" >
    <div class="col">
        <div class="row">
            <div class="col-md-8 mx-auto">
                 <div class="row" style="margin-top:25px;">
        <div class="col-md-8">
            @*each product*@
                                    @foreach(var m in Model.products)
                                                    {
                                var image = "~/images/" + m.product_image_path;
                                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="@image" alt="No image" class="img-fluid" width="60" asp-append-version="true" />
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col">
                                        <p class="justify-content-md-start">@m.ProductName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>₹@m.Price</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                 @*change quantity button*@
                                     <div class="row">
                                            <div class="col">
                                                <div class="btn-group">
                                                  <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Quantity
                                                  </button>
                                                  <ul class="dropdown-menu">
                                                      @for(int num = 1; num <= @m.Quantity; num++)
                                                      {     
                                                          <form method="post" asp-action="updatequantity" asp-controller="shop">
                                                              <input type="text" name="ProductIn" id="ProductIn" value="@m.ProductId"/ hidden>
                                                         <li> <input type="submit" class="dropdown-item" id="QuantityBtn" name="QuantityBtn" value="@num" /> </li>                                           
                                                        </form>                                                      
                                                      }
                                                  </ul>
                                                </div>
                                            </div>
                                        </div>
                                <br />       
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col">
                                        @{
                                            var CartID = ViewData["sessionID"].ToString();
                                        }                                        
                                        <form method="post" asp-action="remove" asp-controller="shop">
                                        <input type="text" id="CartID" name="CartID" value="@CartID" hidden/>
                                        <input type="text" id="ProductID" name="ProductID" value="@m.ProductId" hidden/>
                                       <button type="submit" class="btn btn-outline-danger">Remove</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                </div>
                                }
                        @*each product end*@
                        <div class="row"><div class="col"><br /></div></div>
                        <div class="row">
                            <div class="col">
                                <center><a asp-action="shop" asp-controller="shop" class="btn btn-outline-primary" style="width:90%">Continue shopping!</a></center>
                            </div>
                        </div>
            </div>          
            <div class="col-md-4">
               <div class="card">
                   <div class="card-body">
                       @*for the total, grand total and tax*@
                                @{
                                    var sessionID = ViewData["sessionID"].ToString();
                                    var productsAndQuantites = cartActions.GetQuantity(sessionID);
                                    var totalPrice = cartActions.GetTotal(sessionID);
                                }
                                <div class="row">
                                    <div class="col">                                  
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (productsAndQuantites is not null)
                                        {
                                            @foreach (var item in productsAndQuantites)
                                            {
                                                <tr>
                                                    <td>@item.Key</td>
                                                    <td>₹@item.Value</td>
                                                </tr>
                                            }
                                        } 
                                        else
                                        {
                                               <p>Have a good day of shopping!</p>
                                        }
                                        <tr>
                                            <td><b>Grand Total</b></td>
                                            <td><b>₹@totalPrice</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                                 </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <center><button type="submit" class="btn btn-primary" style="width:90%">Checkout</button></center>
                                    </div>
                                </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
            </div>
        </div>
</div>